//* pages import
@use 'pages/home.scss';
@use 'pages/error.scss';

//* components import
@use 'components/DataTable.scss';


//* fonts and assets import
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto+Mono&family=Source+Sans+Pro:wght@600&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}


*::-webkit-scrollbar {
    display: none;
  }